body {
    font-family: Arial, sans-serif;
    background: url('../static/Images/background.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    height: 100vh;
    background-color: #f4f4f9;
}



nav {
    width: 100%;
    background-color: rgb(41, 41, 41);

    display: flex;
    padding: 10px 0;
    position: fixed;
    top: 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    font-size: 18px;
    display: block;
}

nav a:hover {
    color:  #c90000;
    background-color: #4b4b4b;
    border-radius: 4px;
}

h1 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    margin-top: 60px;
}

table {
    width: 80%;
    margin-top: 10%;
    border-collapse: collapse;
    background: rgba(255, 255, 255, 0.9);
    color: black;
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background: #dd0f00fb;
    color: white;
}

tr:nth-child(even) {
    background: #f2f2f2;
}

tr:hover {
    background: #ddd;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}
