body {
    font-family: Arial, sans-serif;
    background: url('../static/Images/background.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    height: 100vh;
    background-color: #f4f4f9;
}

nav {
    width: 100%;
    background-color: rgb(41, 41, 41);
    display: flex;
    padding: 10px 8%;
    position: fixed;
    top: 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    font-size: 18px;
    display: block;
}

nav a:hover {
    color:  #c90000;
    background-color: #4b4b4b;
    border-radius: 4px;
}

h1 {
    text-align: center;
    color: #ffffff;
}

form {
    background: rgba(41, 41, 41, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-top: 8%;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #ffffff;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="submit"] {
    background: #5cb85c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
    width: 100%;
}

input[type="submit"]:hover {
    background: #4cae4c;
}

form label {
    display: block;
    margin-bottom: 0.5em;
    color: #ffffff;
}

form input, form select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Estilo para as mensagens de flash */
ul.flash-messages {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 60px; /* Para que as mensagens não fiquem atrás da navbar */
    width: 100%;
    text-align: center;
    z-index: 1000;
}

ul.flash-messages li {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
    background-color: rgba(220, 53, 69, 0.9); /* Vermelho transparente para mensagens de erro */
    color: white;
    font-weight: bold;
}

ul.flash-messages li.danger_fazer_reserva {
    background-color: rgba(220, 53, 69, 0.9);
}


