body {
    font-family: Arial, sans-serif;
    background: url('../static/Images/background.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
    color: white;
}


a:hover {
    color:  #c90000;
    border-radius: 4px;
}

h1 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

nav {
    width: 100%;
    background-color: rgb(41, 41, 41);
    display: flex;
    padding: 10px 0;
    position: fixed;
    top: 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    font-size: 18px;
    display: block;
}

nav a:hover {
    color:  #c90000;
    background-color: #4b4b4b;
    border-radius: 4px;
}



.menu-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px; /* Adjust for fixed nav */
}

.menu-buttons button {
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 200px;
}

.menu-buttons button:hover {
    background-color: #4cae4c;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}
